body {
    font-family: 'Inter', sans-serif;
    background-color: #0E2F56;
    color: #118DF0;
}

header {
    background-color: #0E2F56;
}

.navbar img {
    width: 320px;
}

.nav-link,
.nav-link:hover {
    color: #118DF0;
    font-size: 20px;
}

.nav-item i {
    color: #118DF0;
}

#saudacao img {
    width: 480px;
}

#saudacao h1 {
    font-weight: bold;
}

#saudacao p {
    color: #ECECDA;
    font-weight: 300;
    font-size: 20px;
}

#portfolio h1 {
    text-align: center;
    font-weight: bold;
}

#portfolio img {
    max-width: 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}