body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    color: #1C191A;
}

header {
    background-color: #1C191A;
}

.navbar img {
    width: 48px;
}

.nav-link {
    color: #f14902;
    font-size: 20px;
}

.nav-item i {
    color: #f14902;
}

.nav-link:hover,
.nav-item i:hover {
    color: #fff;
}

#saudacao img {
    width: 480px;
}

#saudacao h1 {
    color: #f14902;
    font-weight: bold;
}

#saudacao p {
    font-weight: 300;
    font-size: 20px;
}

#portfolio h1 {
    color: #f14902;
    text-align: center;
    font-weight: bold;
}

.img-thumbnail {
    max-width: 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    border: none;
}

.img-thumbnail:hover {
    border: 4px solid #1C191A;
    filter: none;
}