body {
    font-family: 'Inter', sans-serif;
    background-color: #F6E7D8;
    color: #1C191A;
}

header {
    background-color: #1C191A;
}

.navbar img {
    width: 48px;
}

.nav-link,
.nav-link:hover {
    color: #F6E7D8;
    font-size: 20px;
}

.nav-item i {
    color: #F6E7D8;
}

#saudacao img {
    width: 480px;
}

#saudacao h1 {
    color: #07A5C3;
    font-weight: bold;
}

#saudacao p {
    font-weight: 300;
    font-size: 20px;
}

#portfolio h1 {
    color: #07A5C3;
    text-align: center;
    font-weight: bold;
}

#portfolio img {
    max-width: 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}