// CORES
$corFundo: #181818;
$corTexto: #fafbff;
$corBotao: #4B67FC;
$gradiente: linear-gradient(135deg, rgba(43,58,136,1) 0%, rgba(24,24,24,1) 50%, rgba(75,103,252,1) 100%);

// FONTES
$inter: 'Inter', sans-serif;
$andada: 'Andada Pro', serif;