@use 'variaveis';
@use 'header';
@use 'descricao';
@use 'projetos';
@use 'sobre';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: variaveis.$corFundo;
    color: variaveis.$corTexto;

    .container {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
    }
}