@use '../config/colors';

footer {
    background-color: colors.$corPrimaria;

    #copy {
        h3 {
            color: colors.$corSecundaria;
            font-size: 20px;
        }
    }
    
    #social-links {
        .nav-item i {
            color: colors.$corSecundaria;
        }
        
        .nav-link:hover,
        .nav-item i:hover {
            color: colors.$corTextoMenu;
        }
    }
}

@media (max-width: 767px) {
    #copy {
        width: 100%;
        text-align: center;
    }

    #social-links {
        width: 100%;

        .nav-pills {
            justify-content: center;
        }
    }
}