@use '../config/colors';

header {
    background-color: colors.$corSecundaria;

    .navbar-brand {
        color: colors.$corTextoMenu;
        font-size: 24px;

        &:hover {
            color: colors.$corPrimaria;
        }
    }

    .navbar-toggler {
        max-height: 36px;

        i {
            color: colors.$corPrimaria;
        }
    }
    
    #menu-navegacao,
    #social-links {
        .nav-link {
            color: colors.$corTextoMenu;
            font-size: 20px;
        }
        
        .nav-item i {
            color: colors.$corTextoMenu;
        }
        
        .nav-link:hover,
        .nav-item i:hover {
            color: colors.$corPrimaria;
        }
    }
}

@media (max-width: 767px) {
    .dropdown {
        display: block;
    }
}