@use '../config/colors';

header {
    background-color: colors.$corSecundaria;
}

#titulo {
    .nav-link {
        color: colors.$corFundo;
        font-size: 24px;
    }

    .nav-link:hover {
        color: colors.$corPrimaria
    }
}

#menu-navegacao,
#social-links {
    .nav-link {
        color: colors.$corPrimaria;
        font-size: 20px;
    }
    
    .nav-item i {
        color: colors.$corPrimaria;
    }
    
    .nav-link:hover,
    .nav-item i:hover {
        color: colors.$corFundo;
    }
}