@use '../config/colors';

#portfolio {
    h1 {
    color: colors.$corPrimaria;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    }

    .img-thumbnail {
        max-width: 100%;
        filter: blur(3px);
        -webkit-filter: blur(3px);
        border: none;
    
        &:hover {
            border: 4px solid colors.$corSecundaria;
            filter: none;
        }
    }
}