@use '../config/colors';

#projetos {
    h1 {
    color: colors.$corPrimaria;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    }

    .card {
        background-color: colors.$corSecundaria;

        .card-title {
            border: none;
            color: colors.$corPrimaria;
            background: none;
            font-size: 24px;
        }

        img {
            filter: blur(2px);
            -webkit-filter: blur(3px);

            &:hover {
                filter: none;
            }
        }
    }

    .card-footer {
        color: colors.$corFundo;
    }
}