@use '../config/colors';

#projetos {
    h1 {
    color: colors.$corSecundaria;
    font-weight: bold;
    font-size: 48px;
    }

    .row {
        border-bottom: 1px solid colors.$corTag;

        img {
            border: 1px solid colors.$corTag;
            filter: blur(2px);
            -webkit-filter: blur(2px);

            &:hover {
                border: 1px solid colors.$corSecundaria;
                filter: none;
            }
        }

        .card {
            background-color: colors.$corFundo;
            border: none;
    
            h3 {
                color: colors.$corPrimaria;
            }

            .card-tags {
                background-color: colors.$corTag;
            }
        }
    }
}

@media (max-width: 767px) {
    #projetos {
        h1 {
            font-size: 36px;
        }

        .tags {
            flex-wrap: wrap;
        }
    }
}