@use '../config/colors';

#projetos {
    h1 {
    color: colors.$corPrimaria;
    font-weight: bold;
    font-size: 48px;
    }

    .row {
        border-bottom: 1px solid colors.$corTag;

        .card {
            border: none;
    
            h3 {
                color: colors.$corPrimaria;
            }
    
            .card-tags {
                white-space: nowrap;
                background-color: colors.$corTag;
            }
        }
    }
}