@use '../config/colors';

#saudacao {
    background-color: colors.$corFundo;
    color: colors.$corSecundaria;

    img {
        width: 100%;
    }

    h1 {
        color: colors.$corPrimaria;
        font-weight: bold;
    }

    p {
        font-weight: 300;
        font-size: 20px;
    }
}