@use '../config/colors';

#sobre {
    background-color: colors.$corFundo;
    color: colors.$corSecundaria;

    h1 {
        color: colors.$corPrimaria;
        font-weight: bold;
        font-size: 48px;
    }

    p {
        font-weight: 300;
        font-size: 20px;
    }
}